@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* */

:root {
    --color-primary: #689c80;

    --color-surface-dim: #09090b;
    --color-surface: #18181b;

    --color-text: white;
    --color-text-alt: #e4e4e7;

    --color-outline: #3f3f46;

    --font-display: 'Dela Gothic One', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-mono: 'IBM Plex Mono', sans-serif;

    --border: 0.1rem solid var(--color-outline);
}

body {
    display: flex;

    max-height: 100vh;

    font-family: var(--font-body);

    color: var(--color-text);
}

/* Weapon Selector */

#sidebar {
    flex-shrink: 0;

    position: relative;

    width: 22rem;
    height: 100vh;

    border-right: var(--border);

    background: var(--color-surface-dim);

    overflow: hidden;
}

#sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;

    padding-left: 1rem;
}

#sidebar #collapse-button {
    height: 2.618rem;

    color: var(--color-text-alt);
}

#sidebar:before {
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 1rem;

    background: linear-gradient(var(--color-surface-dim), transparent);

    content: '';
}

#sidebar:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 1rem;

    background: linear-gradient(transparent, var(--color-surface-dim));

    content: '';
}

#weapon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    max-height: calc(100vh - 5rem);

    padding: 0;

    border: none;

    overflow: scroll;
}

.selectable-weapon {
    flex-shrink: 0;

    position: relative;

    width: 20rem;
    height: 10rem;

    font-size: 1.618rem;

    border: var(--border);
    border-radius: 0.2em;

    background: url('images/weaponbg.jpg') center/cover no-repeat;
}

.selectable-weapon::before {
    position: absolute;
    top: calc((10rem - 128px) / 2);
    left: calc((20rem - 256px) / 2);
    
    width: 256px;
    height: 128px;

    background: var(--image-url) var(--image-x-offset) var(--image-y-offset) no-repeat;

    pointer-events: none;

    content: '';
}

.selectable-weapon:first-child { margin-top: 1rem; }
.selectable-weapon:last-child { margin-bottom: 1rem; }

.selectable-weapon input {
    width: 20rem;
    height: 10rem;

    opacity: 0;

    cursor: pointer;
}

.selectable-weapon label.selectable-weapon-name {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    padding: 0 0.5rem;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.selectable-weapon label.selectable-weapon-dlc {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    padding: 0 0.5rem;

    border-radius: 0.2em;

    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase;

    background-color: var(--color-primary);
}

/* Main */

main {
    flex-grow: 1;

    max-height: 100vh;

    padding: 0 3rem 3rem 3rem;

    background-color: var(--color-surface);
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2309090b' fill-opacity='0.25'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    overflow: hidden;
}

h1 {
    margin-bottom: 1rem;

    font-family: var(--font-display);
    font-size: 2.618rem;
    font-weight: 500;
    line-height: 5rem;
    color: var(--color-text-alt);
}

#content {
    display: grid;
    grid-template-columns: 1fr 52rem;
    gap: 3rem;
}

#loadout, #stats {
    max-height: calc(100vh - 9rem);

    overflow: scroll;
}

#loadout h2 {
    margin-top: 1.5em;
    margin-bottom: 2.618rem;

    font-family: var(--font-display);
    font-size: 6.854rem;
    line-height: 1em;
}

@media only screen and (max-width: 2000px) {
    #content {
        display: flex;
        flex-flow: column nowrap;

        max-height: calc(100vh - 9rem);

        overflow: scroll;
    }

    #loadout {
        flex-shrink: 0;

        max-height: fit-content;

        overflow: hidden;
    }

    #loadout h2 {
        font-size: 4.236rem;
    }
}

#skill-selector { margin-bottom: 1.618em; }
.loadout-category legend { font-weight: 600; }

.loadout-category {
    padding: 0;
    border: none;
}

.loadout-category-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;

    margin-top: 0.25em;
    padding: 0;

    border: none;
}

.skill input,
.attachment input {
    display: none;
}

.skill label,
.attachment label {
    display: inline-block;

    border: var(--border);
    border-radius: 0.2em;

    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    user-select: none;
    cursor: pointer;
}

.skill label {
    width: 4.236rem;
    height: 4.236rem;

    font-size: 1rem;
    color: transparent;
}

.skill label::before {
    position: absolute;
    width: 4.236rem;
    height: 4.236rem;

    scale: 90%;

    background:
        var(--image-url) var(--image-x-offset) var(--image-y-offset) no-repeat,
        rgba(0, 0, 0, 0.1);

    content: '';
}

.skill input:disabled + label::before {
    opacity: 25%;
    background:
        linear-gradient(to bottom right, transparent 49%, white 50%, transparent 51%),
        var(--image-url) var(--image-x-offset) var(--image-y-offset) no-repeat,
        rgba(0, 0, 0, 0.1);
}

#loadout-attachments {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.618rem;
}

.attachment label {
    padding: 0.25em 1em;
}

#weapon-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#weapon-stats-damage {
    grid-column-start: 1;
    grid-column-end: 4;
}

#weapon-stats-magazine {
    grid-column-start: 4;
    grid-column-end: 5;
}

#weapon-stats-recoil {
    grid-column-start: 1;
    grid-column-end: 3;
}

#weapon-stats svg > * {
    transition: all 0.2s ease-in-out;
}

.weapon-stat-container, .damage-stat-container {
    min-width: 0;

    border: var(--border);
    border-radius: 0.2em;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.weapon-stat-category-title {
    display: block;

    padding: 0.25rem 1rem;

    font-weight: 600;

    border-bottom: var(--border);

    background-color: rgba(60, 60, 60, 0.1);
}

.weapon-stat-category {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;

    margin: 0.5em 0;
    padding: 0 1em;
}

.weapon-stat-category:not(:last-child) {
    border-right: var(--border);
}

.weapon-stat {
    display: flex;
    justify-content: space-between;

    width: 100%;

    font-family: var(--font-mono);
}

.weapon-stat span:first-child {
    color: var(--color-text-alt);
}

.weapon-stat span:last-child {
    font-weight: 500;
}

#weapon-stats-damage > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#weapon-stats-recoil > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#damage-stats {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    margin-top: 2.618em;
}

.damage-stat-container {
    display: grid;
    grid-template-columns: 10em 1fr 1fr;

    min-height: 10em;
}

.enemy-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: end;

    padding: 1rem;

    border-right: var(--border);

    background-color: rgba(60, 60, 60, 0.1);
}

.enemy-info .enemy-name {
    font-weight: bold;
}

.optimal-ttk,
.body-ttk {
    padding: 0.5rem 1rem;

    font-family: var(--font-mono);
}

.damage-stat-category-title {
    color: var(--color-text-alt)
}

.ttk-stats {
    display: flex;
    flex-flow: column wrap;

    margin-top: 0.5rem;
}

/* */

.selectable-weapon:has(> input:checked),
.skill:has(> input:checked) label,
.attachment:has(> input:checked) label {
    border-color: var(--color-primary);
}

.selectable-weapon:has(> input:checked)::after,
.skill:has(> input:checked) label::after,
.attachment:has(> input:checked) label::after {
    position: absolute;
    top: 0;
    right: 0;

    border-top: 1em solid var(--color-primary);
    border-left: 1em solid transparent;
    border-top-right-radius: 0.1em;

    content: '';
}